<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{accueil}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Confirmation ajout client</title>
</head>

<body>

<section layout:fragment="content">

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="messageOK"><strong>Le client <span th:text="${client.nom}"></span> <span th:text="${client.prenom}"></span> représentant la société <span th:text="${client.raisonSociale}"></span> a bien été ajouté à votre liste de clients !</strong></span>
            </div>


        </div>

    </div>

</section>

<footer>
    <p layout:fragment="footer"></p>
</footer>

</body>
</html>